spring-ws-tolerant-reader/src/main/resources/wsdl/orderhistory.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="OrderHistory"
  targetNamespace="http://codenotfound.com/services/orderhistory"
  xmlns:tns="http://codenotfound.com/services/orderhistory" xmlns:types="http://codenotfound.com/types/orderhistory"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://codenotfound.com/types/orderhistory"
      xmlns:tns="http://codenotfound.com/types/orderhistory" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="qualified" attributeFormDefault="unqualified"
      version="1.0">

      <xsd:element name="getOrderHistoryRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getOrderHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderHistory" type="types:OrderHistoryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="OrderHistoryType">
        <xsd:sequence>
          <xsd:element name="orderList" type="tns:OrderListType" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="OrderListType">
        <xsd:sequence>
          <xsd:element name="order" type="tns:OrderType"
            minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="OrderType">
        <xsd:sequence>
          <xsd:element name="orderId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetOrderHistoryRequest">
    <wsdl:part name="GetOrderHistoryRequest" element="types:getOrderHistoryRequest" />
  </wsdl:message>

  <wsdl:message name="GetOrderHistoryResponse">
    <wsdl:part name="GetOrderHistoryResponse" element="types:getOrderHistoryResponse" />
  </wsdl:message>

  <wsdl:portType name="OrderHistory_PortType">
    <wsdl:operation name="getOrderHistory">
      <wsdl:input message="tns:GetOrderHistoryRequest" />
      <wsdl:output message="tns:GetOrderHistoryResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="OrderHistory_SoapBinding" type="tns:OrderHistory_PortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderHistory">
      <soap:operation soapAction="http://codenotfound.com/services/getOrderHistory" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="OrderHistory_Service">
    <wsdl:documentation>Order History service</wsdl:documentation>
    <wsdl:port name="OrderHistory_Port" binding="tns:OrderHistory_SoapBinding">
      <soap:address location="http://localhost:9090/codenotfound/ws/orderhistory" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
